.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.topMargined {
  margin-top: 50px;
}

.login-full-width {
  width: 100%;
}

.centered {
  text-align: center;
}

.blocked {
  display: inline-block;
}


/* Center a Div Element
1. Enclose the div that you want to center with a parent element (commonly known as a wrapper or container div)
2. Set “text-align: center” to parent element.
3. Then set the inside div to “display: inline-block”
*/
